lark==0.10.1
sklearn==0.0
pandas==1.0.5
networkx==2.4
numpy==1.19.5
gensim==3.8.3
keras==2.6.0
scipy==1.7.1
stellargraph==1.2.1
tensorflow==2.6.0
neo4j==4.2.0
matplotlib==3.2.2
chardet==3.0.4
protobuf==3.14.0